html
{
    font-family: sans-serif;
    color: #000;
    background-size: cover;
    min-height: 100%;
}

html#phone
{
    background: url(/jpeg/corded-phone) #000 no-repeat center center fixed;
    background-size: cover;
}

html#server-grill
{
    background: url(/jpeg/7389234452_a0d7b0fd34_o) #000 no-repeat center center fixed;
    background-size: cover;
}

html#unicorn-noms
{
    background: url(/jpeg/unicorn-noms) #3c160b no-repeat center center fixed;
    background-size: cover;
}

html#phylactery-session
{
    background: url(/png/phylactery-corporation-names-session) #000 no-repeat center center fixed;
    background-size: cover;
}

html#hypercube
{
    background: url(/svg/4-cube-black-white) #fff no-repeat center center fixed;
    background-size: cover;
}

body
{
    position: relative;
    margin: 0 2.5em 0 20em;
    background: #fff;
    background: rgba(255,255,255,0.95);
    padding: .5em 2em 2em 2em;
    min-height: 100%;
}

img, svg
{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    width: calc(100% + 4em);
    height: auto;
    margin: 1em -2em;
    font-size: inherit;
}

h1,
#full h2
{
    margin: 1em -1.3em 1em -1.3em;
    padding: .5em 1.3em;
    font-size: 1.8em;
}

h3
{
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: bold;
}

#feed
{
    padding: 0;
}

#feed li
{
    display: block;
}

p
{
    margin: 1em 0;
}

a
{
    color: inherit;
    text-decoration: underline;
}

a:hover
{
    color: #555;
    text-decoration: underline;
}

h1+ul,
ul#meta
{
    position: absolute;
    left: -20.5em;
    top: 28em;
    width: 14em;
    margin: 0;
}

h1+ul li,
ul#meta li
{
    display: block;
    margin: 0;
}

h1+ul li a,
ul#meta li a
{
    display: block;
    text-decoration: none;
}

ul#meta
{
    top: 38em;
}

h1+ul li a:hover,
ul#meta li a:hover,
address p a:hover
{
    text-decoration: underline;
}

ul#meta li#published:before
{
    content: "published ";
    font-weight: bold;
}

ul#meta li.next a:before
{
    content: "◀";
    font-weight: bold;
    margin-right: .5em;
}

ul#meta li.previous a:before
{
    content: "▶";
    font-weight: bold;
    margin-right: .5em;
}

#full h1
{
    position: absolute;
    left: -10em;
    width: 10em;
}

div.auto-abstract
{
    display: none;
}

.share li
{
    display: inline-block;
    height: 1.2em;
    vertical-align: text-bottom;
    width: 6em;
    overflow: hidden;
}

iframe
{
    border: 0;
    max-width: 100%;
}

#feed li h2 + ul
{
    display: none;
}

#feed li ul
{
    margin: 1em 0;
    padding: 0 0 0 2em;
}

#feed li ul li
{
    display: list-item;
}

address
{
    margin: 0em -2em;
    padding: 0 2em;
}

math,
pre code
{
    display: block;
    border-left: .5em solid purple;
    margin-left: -1.25em;
    padding-left: .75em !important;
}

p math
{
    display: inline-block;
}

table.proper thead th,
table.proper thead td
{
    background: #eee;
}

table.proper tbody tr th,
table.proper tbody tr td
{
    border-top: .1em solid black;
}

table.proper
{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

blockquote
{
    width: auto;
    max-width: 60em;
    margin: 1.5em auto;
}

h2 ~ blockquote
{
    margin: 0.5em auto;
}

blockquote pre,
blockquote p
{
    width: auto;
    max-width: 56em;
    margin: 0.5em auto;
    padding: 0 1.5em;
}

blockquote pre:before,
blockquote p:before
{
    display: block;
    content: "\201c";
    font-size: 5em;
    color: #ccc;
    margin: 0 -0.5em -0.5em -0.5em;
}

blockquote pre:after,
blockquote p:after
{
    display: block;
    content: "\201d";
    font-size: 5em;
    color: #ccc;
    text-align: right;
    margin: 0 -0.5em;
}

blockquote[cite]:after
{
    display: block;
    content: attr(cite);
    max-width: 50em;
    color: #999;
    margin: -4em 0 0 7em;
    font-style: italic;
    text-align: right;
}

blockquote.twitter-tweet
{
    width: auto;
    max-width: none;
    padding: 1em;
    margin: 1em;
}

blockquote.twitter-tweet p
{
    width: auto;
    max-width: none;
    padding: 1em;
    margin: 0;
}

blockquote.twitter-tweet p:before,
blockquote.twitter-tweet p:after
{
    display: none;
}

dt
{
    font-weight: bold;
}

li.twitter
{
    background: rgb(0,170,242);
    color: #fff;
}

li.facebook
{
    background: rgb(59,83,154);
    color: #fff;
}

li.googleplus
{
    background: rgb(210,22,0);
    color: #fff;
}

ul.share
{
    margin: 0 -2em -2em -2em;
    padding: 0;
}

ul.share li
{
    display: inline-block;
    width: 33.333%;
    margin: 0;
    padding: 0;
    height: 3em;
}

ul.share a
{
    display: block;
    width: auto;
    height: 3em;
    color: inherit;
    text-decoration: none;
    padding: .5em 1em;
}

ul.share a:hover
{
    text-decoration: underline;
}

ul.share li a span
{
    display: block;
    text-align: right;
    color: #ddd;
}

ul.share li a:hover span
{
    text-decoration: none;
}

body
{
    margin: 0;
}

ul#meta
{
    position: static;
    left: 0;
    top: 0;
    width: auto;
    margin: 2em -2em 2em -2.5em;
}

h1,
#full h2
{
    margin-right: 1em;
}

h1 + ul
{
    left: auto;
    right: 0;
    top: 1em;
    margin: 0;
    width: auto;
    text-align: right;
    padding-right: 2em;
}

h1 + ul li
{
    display: inline-block;
    margin: 0;
    padding: 0 .2em;
    width: auto
}

@media (max-width: 45em)
{
    html
    {
        background: #fff !important;
    }

    p.credit
    {
        display: none;
    }

    body
    {
        margin: 0;
    }
}

@media (max-width: 37em)
{
    h1 + ul {
      display: none;
    }

    body {
      padding-top: 0;
    }

    ul#meta {
      margin-top: -1.5em;
    }
}
