*
{
  font-family: sans-serif;
}

p
{
  margin: inherit 0.5em;
}

p.brief
{
  font-weight: bold;
}

p.include
{
  font-weight: bold;
  color: purple;
  margin: 0;
}

p.copyright
{
  border-left: 0.5em solid #933;
  margin-bottom: 0;
  padding: .5em;
}

p.copyright + p.copyright
{
  margin-top: 0;
}

a
{
  color: inherit;
}

a:hover
{
  color: #000;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.include {
  stroke: purple;
}

.link.public-inheritance {
  stroke: green;
}

.link.usage {
  stroke: blue;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

svg {
  width: 100%;
}

code em
{
  font-style: normal;
}

em.comment
{
  color: #494;
}

em.preprocessor
{
  color: #794;
}

em.keyword
{
  color: #449;
}

em.keywordflow
{
  color: #749;
}

em.keywordtype
{
  color: #479;
}

em.stringliteral
{
  color: #944;
}

