*
{
  font-family: sans-serif;
}

p.brief
{
  font-weight: bold;
}

p.include
{
  font-weight: bold;
  color: #90f;
}

p.copyright
{
  border-left: 0.5em solid #933;
  padding-left: 0.5em;
}

a
{
  color: inherit;
}

a:hover
{
  color: #000;
}
