*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

html
{
    background: url(/svg/stripes) #ddd no-repeat top left;
    background-attachment: fixed;
    font-size: 0.9em;
}

body
{
    margin: 0 0 2em 24em;
    background: #eee;
    background: rgba(255,255,255,0.7);
	padding: 3.5em 2em;
    border-left: 0.1em solid #aaa;
    border-bottom: 0.1em solid #aaa;
    border-bottom-left-radius: 2em;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0.5em 0;
}

h1
{
    font-size: 2em;
    font-weight: bold;
}

h2
{
	font-size: 1.4em;
    margin: 2em 0 1.5em 0;
}

h2 ~ h2
{
    margin: 1.5em 0;
}

h3
{
	font-size: 1.3em;
    margin: 1em 0 1em 0;
}

h4
{
	font-size: 1.2em;
}

h5
{
	font-size: 1.1em;
}

h6
{
	font-size: 1.0em;
}

h1 + ul
{
    position: absolute;
    top: 0.25em;
    right: 0;
    display: block;
	padding: 0.2em 15px;
    z-Index: 1;
    border-left: 0.4em solid #22c;
}

h1 + ul li
{
	display: inline-block;
    margin: 0;
	padding: 5px;
	color: #666;
}

a
{
	color: #222;
}

h1 + ul a
{
	text-decoration: none;
}

a:hover
{
	color: #999;
}

p, code
{
	margin: 0.5em 0;
}

blockquote
{
    width: 50em;
    margin: 3.5em auto;
}

h2 ~ blockquote
{
    margin: 0.5em auto;
}

blockquote pre
{
    width: 46em;
    margin: 0.5em auto;
}

blockquote pre:before
{
    display: block;
    content: "\201c";
    font-size: 5em;
    color: #ccc;
    margin: 0 -0.5em;
}

blockquote pre:after
{
    display: block;
    content: "\201d";
    font-size: 5em;
    color: #ccc;
    text-align: right;
    margin: 0 -0.5em;
}

blockquote[cite]:after {
    display: block;
    content: attr(cite);
    width: 40em;
    color: #999;
    margin: -4em 0 0 7em;
    font-style: italic;
    text-align: right;
}

pre
{
    margin: 2em 0;
}

pre code,
#example1, #example2, #example3, #example4, #example5
{
    display: block;
    padding: 0 0 0 1em;
}

pre code
{
    border-left: 2px solid blue;
    margin: 0 0 0 1em;
}

#example1, #example2, #example3, #example4, #example5
{
    border-left: 2px solid purple;
    margin: 1em;
}

address
{
    display: block;
    width: 16em;
    border: 1px solid #aaa;
    background: #eee;
    background: rgba(255,255,255,0.7);
    padding: 2em;
    margin: -8em 0 0 -24em;
    font-style: normal;
    border-radius: 0.5em;
}

address img
{
    float: right;
    border: 0.5em solid white;
    padding: 0.5em;
    margin: -5em -3em 0.5em 0.5em;
    height: 9em;
    border: 0.1em solid #aaa;
    background: #eee;
    background: rgba(255,255,255,0.7);
}

address ul li
{
    display: inline-block;
}

address a
{
    display: block;
    padding: 2em;
    margin: -2em;
    text-decoration: none;
}

address a:hover
{
    color: black;
    background: #eee;
    border-radius: 0.5em;
}

address a span
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #999;
    margin: 0 0 0.5em 0;
}

address a span span
{
    display: inline;
    font-size: 1em;
    color: black;
    margin: 0;
}

address + table
{
    border-top: 0.1em solid #ccc;
    padding: 0.5em 3em;
    margin: -10em 0 2em 0;
}

div.figure
{
    display: block;
    position: absolute;
    width: 16em;
    padding: 2em;
    margin: -2em 0 0 -24em;
    border-radius: 0.5em;
    background: rgba(255,255,255,0.8);
    border: 0.1em solid #aaa;
}

div.figure img
{
    display: block;
    margin: 0 auto;
}

div.figure h2
{
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

div.figure li
{
    margin: 0;
}

div.figure li a
{
    font-size: 1.2em;
    text-decoration: none;
}

div.figure li
{
    background: #bbd;
    background: rgba(200,200,225,0.8);
    border: 0.1em solid #ccc;
    text-align: center;
    padding: 0.5em 0;
    margin-top: 2em;
}

div.figure li + li
{
    background: none;
    border: none;
    text-align: left;
    margin-top: 0;
}

div.figure li + li a:before
{
    content: "> ";
}

div.figure li + li a
{
    font-size: 1em;
}

th
{
    text-align: right;
    vertical-align: top;
}

th, td
{
    padding: 0 0.3em;
}

ul li
{
    margin: 0.5em 0.5em 0.5em 2em;
}

div ul li,
table ul li
{
    display: block;
}

table ul li
{
    margin: 0;
}

/*
body#feed:after
{
    content: "ATOM Transcript";
    display: block;
    position: absolute;
    width: 18em;
    padding: 1em;
    top: 6em;
    left: 2em;
    height: 8em;
    border-radius: 0.5em;
    background: rgba(255,255,255,0.9);
    border: 0.1em solid #aaa;
    font-weight: bold;
}
*/

body#feed
{
    vertical-align: top;
}

body#feed *
{
    vertical-align: top;
}

body#feed h2 + ul
{
    display: inline;
    margin: 0;
}

body#feed h2 + ul li
{
    display: inline-block;
    width: 18em;
    height: 10em;
    padding: 1em;
    margin: 0.5em;
    border: 0.1em solid #ccc;
    background: rgba(255,255,255,0.7);
}

body#feed h2
{
    border: 1px solid white;
    display: inline-block;
    width: 12.0em;
    padding: 3.62em 1em;
    margin: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #555;
    background: #efefef;
    background: rgba(230,230,230,0.7);
    border: 1px solid #aaa;
}

body#feed h2 + ul li a
{
    display: block;
    text-decoration: none;
    padding: 1em;
    height: 10em;
    margin: -1em;
}

body#feed h2 + ul li a span
{
    display: block;
    color: #444;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

body#feed h2 + ul li a:hover
{
    background: #fff;
    background: rgba(255,255,2550,0.5);
    color: #555;
}

pre
{
    white-space: pre-wrap;
}

body#feed h2
{
    background: #afefaf;
    background: rgba(210,230,210,0.7);
}

body#feed h2 + ul li
{
    background: #aca;
    background: rgba(230,255,230,0.7);
}

body#feed h2 + ul + h2
{
    background: #afafef;
    background: rgba(210,210,230,0.7);
}

body#feed h2 + ul + h2 + ul li
{
    background: #aac;
    background: rgba(230,230,255,0.7);
}

body#feed h2 + ul + h2 + ul + h2
{
    background: #afafef;
    background: rgba(230,210,210,0.7);
}

body#feed h2 + ul + h2 + ul + h2 + ul li
{
    background: #aac;
    background: rgba(255,230,230,0.7);
}

@media (max-width: 70em)
{
    body
    {
        margin: 0;
    }

    div.figure, address, address + table
    {
        position: relative;
        margin: 1em auto 1em auto;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        background: none;
        width: 30em;
    }

    address
    {
        margin: 5em auto 1em auto;
    }

    address + table
    {
        margin: 1em auto 1em auto;
    }
}

@media (max-width: 60.5em)
{
    body#feed h2, body#feed h2 + ul + h2
    {
        background: none;
        border: none;
        width: auto;
        display: block;
        padding: 0;
        text-align: left;
    }
}
