html
{
    font-family: sans-serif;
    background: #303030;
    color: #000;
    background-size: cover;
    min-height: 100%;
}

html#phone
{
    background: url(/jpeg/corded-phone) #000 no-repeat center center fixed;
    background-size: cover;
}

html#server-grill
{
    background: url(/jpeg/7389234452_a0d7b0fd34_o) #000 no-repeat center center fixed;
    background-size: cover;
}

html#unicorn-noms
{
    background: url(/jpeg/unicorn-noms) #3c160b no-repeat center center fixed;
    background-size: cover;
}

html#phylactery-session
{
    background: url(/png/phylactery-corporation-names-session) #000 no-repeat center center fixed;
    background-size: cover;
}

html#hypercube
{
    background: url(/svg/4-cube-black-white) #fff no-repeat center center fixed;
    background-size: cover;
}

body
{
    position: relative;
    margin: 0 2.5em 0 25em;
    background: #fff;
    background: rgba(255,255,255,0.95);
    padding: .5em 2em 2em 2em;
    min-height: 100%;
}

body:before
{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -25em;
    bottom: 0;
    width: 18em;
    background: rgba(0,0,0,0.8);
}

img, svg
{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    width: calc(100% + 4em);
    margin: 1em -2em;
    font-size: inherit;
}

address img
{
    width: 91px;
    margin: 0 -1em 1em 1em;
    float: right;
}

h1,
#full h2
{
    background: #f5f5f5;
    background: rgba(230,230,230,0.9);
    margin: 1em -1.3em 1em -1.3em;
    padding: .5em 1.3em;
    font-size: 1.5em;
}

h1:after,
#full h2:after
{
    position: absolute;
    content: "◀";
    color: #f5f5f5;
    color: rgba(230,230,230,0.9);
    left: -.5em;
}

h1:before,
/*li.large*/
#feed h2:before
{
    position: absolute;
    content: "★";
    display: inline-block;
    color: #fff;
    left: -3em;
    border-radius: 2em;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.1em;
    padding: .4em;
    text-align: center;
    margin-top: -.5em;
    background: black;
}

#feed li.medium h2:before
{
    content: "✎";
}

#feed li.small h2:before
{
    content: "✎";
}

h3
{
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: bold;
}

#feed
{
    padding: 0;
}

#feed li
{
    display: block;
}

p
{
    margin: 1em 0;
}

a
{
    color: inherit;
    text-decoration: underline;
}

a:hover
{
    color: #555;
    text-decoration: underline;
}

h1+ul
{
    display: block;
    position: absolute;
    left: -27.5em;
    top: 28em;
    width: 18em;
    margin: 0;
    color: #fff;
}

h1+ul li
{
    display: block;
    margin: 0;
    padding: .5em 2em;
    background: #603030; 
}

h1+ul li a
{
    display: block;
    background: #303030;
    margin: -.5em -2em;
    padding: .5em 2em;
    text-decoration: none;
}

ul#meta,
ul#subfeeds
{
    position: absolute;
    left: -27.5em;
    top: 38em;
    width: 18em;
    margin: 0;
    color: #fff;
}

ul#meta li,
ul#subfeeds li
{
    display: block;
    margin: 0;
    padding: .5em 2em;
    background: #603030; 
}

ul#meta li a,
ul#subfeeds li a
{
    display: block;
    background: #303030;
    margin: -.5em -2em;
    padding: .5em 2em;
    text-decoration: none;
}

h1+ul li a:hover,
ul#meta li a:hover,
ul#subfeeds li a:hover,
address p a:hover
{
    color: #ccc;
    text-decoration: none;
}

ul#meta li#published
{
    color: #603030;
}

ul#meta li#published span
{
    color: #fff;
}

ul#meta li#published:before
{
    content: "published ";
    color: #fff;
    font-weight: bold;
}

ul#meta li.next a:before
{
    content: "◀";
    font-weight: bold;
    margin-right: .5em;
}

ul#meta li.previous a:before
{
    content: "▶";
    font-weight: bold;
    margin-right: .5em;
}

#full h1:before
{
    content: "❖";
    margin-left: 8em;
    margin-top: 2em;
    transform: rotate(17deg);
}

#full h1
{
    position: absolute;
    left: -16em;
    width: 12em;
    top: 10em;
    transform: rotate(-28deg);
}

#full h1:after
{
    content: "[ this space intentionally left blank for future fancy icon ]";
    width: 15em;
    top: -5em;
    left: 2em;
    color: #888;
    text-align: center;
    background: rgba(255,255,255,0.7);
    transform: rotate(40deg);
    padding: 1em;
}

div.auto-abstract
{
    display: none;
}

.share
{
    border-bottom: .4em solid #303030;
    margin: -2em -2em 2em -2em;
    padding: 2em;
}

.share li
{
    display: inline-block;
    height: 1.2em;
    vertical-align: text-bottom;
    width: 6em;
    overflow: hidden;
}

iframe
{
    border: 0;
}

#hardcopies
{
    border-top: .4em solid #303030;
    border-bottom: .4em solid #303030;
    margin: 2em -2em;
    padding: 1.6em;
}

#hardcopies li
{
    display: none;
}

#hardcopies li + li
{
    display: inline-block;
    margin: .2em;
}

#hardcopies li + li a
{
    padding: .2em;
    background: #ddd;
    border-radius: .2em;
    border: .1em solid #bbb;
    text-decoration: none;
}

#hardcopies li + li a:hover
{
    border: .1em solid #999;
    text-decoration: none;
}

#feed li h2 + ul
{
    display: none;
}

#feed li ul
{
    margin: 1em 0;
    padding: 0 0 0 2em;
}

#feed li ul li
{
    display: list-item;
}

address
{
    position: absolute;
    top: 0;
    left: -25em;
    padding: 2em;
    width: 14em;
    color: #fff;
    font-style: normal;
    margin-bottom: 0;
    padding-bottom: 0;
}

address h2
{
    font-size: 1em;
}

address div
{
    font-size: inherit !important;
}

address div iframe
{
    margin: 0 -1em !important;
    font-size: inherit !important;
}

address p
{
    font-size: .8em;
    font-style: italic;
}

address p + p
{
    font-size: inherit;
    font-style: normal;
}

address p a
{
    display: block;
    background: #303030;
    padding: 0.5em 2em;
    margin: 0 -2em;
    text-decoration: none;
}

math,
pre code
{
    display: block;
    border-left: .5em solid purple;
    margin-left: -1.25em;
    padding-left: .75em !important;
}

p math
{
    display: inline-block;
}

table.proper thead th,
table.proper thead td
{
    background: #eee;
}

table.proper tbody tr th,
table.proper tbody tr td
{
    border-top: .1em solid black;
}

table.proper
{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

blockquote
{
    width: auto;
    max-width: 60em;
    margin: 1.5em auto;
}

h2 ~ blockquote
{
    margin: 0.5em auto;
}

blockquote pre,
blockquote p
{
    width: auto;
    max-width: 56em;
    margin: 0.5em auto;
    padding: 0 1.5em;
}

blockquote pre:before,
blockquote p:before
{
    display: block;
    content: "\201c";
    font-size: 5em;
    color: #ccc;
    margin: 0 -0.5em -0.5em -0.5em;
}

blockquote pre:after,
blockquote p:after
{
    display: block;
    content: "\201d";
    font-size: 5em;
    color: #ccc;
    text-align: right;
    margin: 0 -0.5em;
}

blockquote[cite]:after
{
    display: block;
    content: attr(cite);
    max-width: 50em;
    color: #999;
    margin: -4em 0 0 7em;
    font-style: italic;
    text-align: right;
}

blockquote.twitter-tweet
{
    width: auto;
    max-width: none;
    padding: 1em;
    margin: 1em;
}

blockquote.twitter-tweet p
{
    width: auto;
    max-width: none;
    padding: 1em;
    margin: 0;
}

blockquote.twitter-tweet p:before,
blockquote.twitter-tweet p:after
{
    display: none;
}

dt
{
    font-weight: bold;
}

p.continue
{
     margin: 2em 0;
}

p.continue a
{
    background: rgba(0,0,0,0.8);
    border-radius: 2em;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

p.continue a:hover
{
    background: #000;
}

li.twitter
{
    background: rgb(0,170,242);
    color: #fff;
}

li.linkedin
{
    background: rgb(0,128,182);
    color: #fff;
}

li.facebook
{
    background: rgb(59,83,154);
    color: #fff;
}

li.xing
{
    background: rgb(0,103,106);
    color: rgb(168,209,0);
}

li.googleplus
{
    background: rgb(210,22,0);
    color: #fff;
}

li.stumbleupon
{
    background: rgb(235,72,35);
    color: #fff;
}

ul.share
{
    margin: 0 -2em 0 -2em;
    padding: 0;
}

ul.share li
{
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
    height: 3em;
}

ul.share a
{
    display: block;
    width: auto;
    height: 3em;
    color: inherit;
    text-decoration: none;
    padding: .5em 1em;
}

ul.share a:hover
{
    text-decoration: underline;
}

ul + ul.share
{
    margin-top: -1.5em;
}

ul.share li a span
{
    display: block;
    text-align: right;
    color: #ddd;
}

ul.share li a:hover span
{
    text-decoration: none;
}

@media (max-width: 65em)
{
    body
    {
        margin-right: 1em
    }
}

@media (max-width: 58em)
{
    body
    {
        margin: 0 0 0 6em;
    }

    body:before
    {
        display: none;
    }
    
    address
    {
        border-top: .4em solid #303030;
        position: static;
        color: #000;
        width: auto;
        padding: 0;
        margin: 2em -2em;
        padding: 2em;
    }

    address div iframe
    {
        margin: 0 !important;
    }

    address div
    {
        float: right !important;
    }

    address p
    {
        font-size: 1em;
    }

    address p a
    {
        color: #fff;
    }

    ul#meta
    {
        position: relative;
        float: right;
        left: 0;
        top: 0;
        margin-right: -2em;
        margin-top: 2em;
        width: 20em;
    }

    h1 + ul
    {
        left: auto;
        right: 0;
        top: 0;
        margin: 0;
        width: auto;
        text-align: right;
        padding-right: 2em;
    }

    h1 + ul li
    {
        display: inline-block;
        background: none;
        margin: .2em;
        padding: 0.5em 0.2em;
    }

    h1 + ul li a
    {
        background: none;
        color: #000;
        padding: .2em 2em;
    }

    h1 + ul li a:hover
    {
        background: none;
        color: #888;
        text-decoration: none;
    }
}

@media (max-width: 45em)
{
    ul#meta
    {
        position: static;
        float: none;
        width: auto;
        left: 0;
        top: 0;
        margin: 0 -2em 0 -4.5em;
    }

    html
    {
        background: #303030 !important;
    }

    body
    {
        background: #fff;
        margin: 0;
    }

    ul.share li {
      width: 25%;
    }

    ul.share li.stumbleupon {
      display: none;
    }
}

@media (max-width: 30em)
{
    h1 + ul {
      display: none;
    }

    h1 {
      margin-top: 0;
    }

    body {
      padding-top: 0;
    }

    h1 + ul + ul.share {
      display: none;
    }

    ul#meta {
      margin-top: -1.5em;
    }
}
