html
{
    padding-right: 23em;
}

div#comment-pane
{
    position: absolute;
    right: 1em;
    top: 1em;
    width: 24em;
}

div.image img
{
    max-width: 100%;
}

@media (max-width: 70em)
{
    html
    {
        padding-right: 0;
    }

    div#comment-pane
    {
        position: static;
        width: auto;
        right: default;
        top: default;
        margin: 1em;
    }
}
