.DS*
._*
*.swp
*.cache.xml
*.bz2
*.out
*.sqlite3
index.atom
fortune
.build
pdf
mobi
epub
tmp
age-rating-distribution*.svg
flash-integrity*.svg
index.xml
css/*.minified.css
png/rasterised
js/disqus-embed.js
js/analytics.js
js/facebook-sdk.js
js/highlight.js
css/highlight.css
css/ef.gy+highlight.css
