# This is the configuration file for http://ef.gy/
# Evidently, this server is running nginx with the native XSLT processor.

map $request_uri $collection {
  ~^(.*)/([^@]+)@(?<co>[^@]+)$ $co;
  ~^(.*)/(?<co>[^@]+)$ $co;
}

map $request_uri $target {
  ~^(.*)/(?<ta>[^@]+)@([^@]+)$ $ta;
}

server {
    listen [::]:80;

	server_name  ef.gy;

	access_log  /var/log/nginx/ef.gy.access.log;

	xslt_types application/xhtml+xml application/atom+xml image/svg+xml;

	root /srv/http/ef.gy;
 
    xslt_string_param target $target;
    xslt_string_param collection $collection;

    rewrite ^(.*)/(kyuba:[^@]+)@([^@]*archives)$ $1/$2@drupal-kyuba permanent;
    rewrite ^(.*)/(einit:[^@]+)@([^@]*archives)$ $1/$2@drupal-einit permanent;
    rewrite ^/(.*)/([^@]+)@([^@]+)$ /$1/$3;

    location /robots.txt {
        try_files invalid =404;
    }

    location /favicon.ico {
        try_files invalid =404;
    }

	location / {
		add_header Vary Accept;

        if ($uri ~ ^/\.git)
        {
            break;
        }

		if ($http_accept ~* application/xhtml\+xml)
		{
			rewrite ^/$ /xhtml/site redirect;
			rewrite ^(.*)$ /xhtml$1 redirect;
		}

		rewrite ^/$ /html/site redirect;
		rewrite ^(.*)$ /html$1 redirect;
	}

	location /.git {
        error_page 403 /source-code;
	}

	location /css {
		try_files $uri.css $uri =404;
	}

	location /png {
		try_files $uri.png $uri =404;
	}

	location /jpeg {
		try_files $uri.jpeg $uri.jpg $uri =404;
	}

	location /pdf {
		try_files $uri.pdf $uri =404;
	}

	location /js {
		try_files $uri.js $uri =404;
	}

	location /atom {
		alias /srv/http/ef.gy;
		try_files $uri.atom $uri =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-style-ef.gy.xslt;
	}

	location /raw {
		alias /srv/http/ef.gy;
		try_files $uri =404;
	}

	location /download {
		try_files $uri =404;
	}

	location /svg {
		alias /srv/http/ef.gy;
		try_files $uri.svg $uri =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-disabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /xhtml {
		alias /srv/http/ef.gy;
		try_files $uri.xhtml $uri.atom $uri =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-context.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-navigation.xslt;
	}

	location /html {
		alias /srv/http/ef.gy;
		try_files $uri.xhtml $uri.atom $uri =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-context.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-navigation.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}

	location /svg/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-disabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /xhtml/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
	}

	location /html/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}
}

