# This is the configuration file for http://ef.gy/
# Evidently, this server is running nginx with the native XSLT processor.

server {
    listen [::]:80;

	server_name  ef.gy;

	access_log  /var/log/nginx/ef.gy.access.log;

	xslt_types application/xhtml+xml application/atom+xml image/svg+xml;

	root /srv/http/ef.gy;

	location / {
		add_header Vary Accept;

        if ($uri ~ ^/\.git)
        {
            break;
        }

		if ($http_accept ~* application/xhtml\+xml)
		{
			rewrite ^/$ /xhtml/site redirect;
			rewrite ^(.*)$ /xhtml$1 redirect;
		}

		rewrite ^/$ /html/site redirect;
		rewrite ^(.*)$ /html$1 redirect;
	}

	location /.git {
        error_page 403 /source-code;
	}

	location /css {
		try_files $uri.css $uri =404;
	}

	location /png {
		try_files $uri.png $uri =404;
	}

	location /jpeg {
		try_files $uri.jpeg $uri.jpg $uri =404;
	}

	location /pdf {
		try_files $uri.pdf $uri =404;
	}

	location /js {
		try_files $uri.js $uri =404;
	}

	location /atom {
		alias /srv/http/ef.gy;
		try_files $uri.atom $uri =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-style-ef.gy.xslt;
	}

	location /raw {
		alias /srv/http/ef.gy;
		try_files $uri =404;
	}

	location /download {
		try_files $uri =404;
	}

	location /svg {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.svg $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-disabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /svg+js {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.svg $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /xhtml {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.xhtml $uri.atom $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-social.xslt;
	}

	location /xhtml+js {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.xhtml $uri.atom $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-social.xslt;
	}

	location /html {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.xhtml $uri.atom $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-social.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}

	location /html+js {
		alias /srv/http/ef.gy;
		try_files $uri.xml $uri.xhtml $uri.atom $uri $uri.cache.xml =404;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/atom-merge.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-transcode-atom.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-social.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}

	location /svg/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-disabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /svg+js/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/svg-style-ef.gy.xslt;
	}

	location /xhtml/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
	}

	location /xhtml+js/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
	}

	location /html/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}

	location /html+js/fortune {
		proxy_pass http://unix:/var/tmp/fortune.socket:/fortune;

		xslt_stylesheet /srv/http/ef.gy/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-fortune.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/xhtml-style-ef.gy.xslt;
		xslt_stylesheet /srv/http/ef.gy/xslt/html-post-process.xslt;
	}
}

proxy_cache_path /srv/http/ef.gy/cache/social levels=1:2 keys_zone=social:8m max_size=1000m inactive=600m;
proxy_temp_path /srv/http/ef.gy/cache/social/tmp;

# need a secondary vhost to serve tweets (or at least to serve them swiftly)
server
{
    listen [::]:80;

	server_name  social.ef.gy;

	access_log  /var/log/nginx/tweets.ef.gy.access.log;

	xslt_types application/xhtml+xml application/atom+xml image/svg+xml;

    location /jyujinX {
        resolver 8.8.8.8;
        rewrite      /(jyujinX)  /1/statuses/user_timeline.rss?screen_name=$1  break;
        proxy_pass   http://api.twitter.com;
        proxy_cache social;
        proxy_cache_valid  200 302  10m;
        proxy_cache_valid  404      1m;
        proxy_ignore_headers X-Accel-Expires Expires Cache-Control Set-Cookie;
    }

#    location ~ .* {
#        proxy_pass http://api.twitter.com/1/statuses/user_timeline.rss?screen_name=jyujinX;
#    }
}
